@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/secret-menu.css" asp-append-version="true" />
}

<div id="game-container">
    <div id="start-overlay">
        <h1 class="blink">CLICK TO START</h1>
    </div>

    <div id="main-menu" style="display:none;">
        <div class="static-overlay"></div>
        <div class="monitor-glitch"></div>
        <div class="freddy-bg"></div>

        <div class="game-title">FIVE<br>NIGHTS<br>AT<br>FREDDY'S</div>

        <div class="menu-options">
            <div class="menu-item" id="btn-newgame">New Game</div>
            <div class="menu-item" id="btn-continue">Continue</div>
        </div>
    </div>
</div>

<div id="secret-jumpscare"></div>

<audio id="bg-ambience" src="/sounds/ambience_glitch_menu.mp3" loop preload="auto"></audio>
<audio id="menu-select-sound" src="/sounds/Menuselect.oga" preload="auto"></audio>
<audio id="glitch-sound-1" src="/sounds/glitch_1.oga" preload="auto"></audio>
<audio id="glitch-sound-2" src="/sounds/glitch_2.oga" preload="auto"></audio>

@section Scripts {
    <script src="~/js/secret.js" asp-append-version="true"></script>
}