/* СТИЛИ ТОЛЬКО ДЛЯ SECRET MENU */
#game-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: black;
}

#start-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    background: black;
}

.blink {
    font-size: 3rem;
    color: white;
    animation: simple-blink 1s infinite;
}

@keyframes simple-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#main-menu {
    height: 100%;
    width: 100%;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.game-title {
    font-size: 6rem;
    font-family: 'OCR A Std', monospace;
    font-weight: 900;
    letter-spacing: -5px;
    z-index: 10;
    margin-bottom: 30px;
    color: #eee;
}

.menu-options {
    z-index: 20;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-item {
    font-size: 2.2rem;
    color: #666;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    transition: color 0.1s;
}

    .menu-item:hover {
        color: #fff;
        padding-left: 45px;
    }

        .menu-item:hover::before {
            content: '>>';
            position: absolute;
            left: 0;
            animation: arrow-blink 0.2s steps(2) infinite;
        }

@keyframes arrow-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
        transform: translateX(2px);
    }
}

/* Фредди на заднем фоне */
.freddy-bg {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100vw;
    height: calc(100vh + 5px);
    background: url('/images/freddy_sprites.png') no-repeat;
    background-size: 100% 900%;
    z-index: 1;
    filter: brightness(0.4);
    animation: menu-glitch 8s steps(1) infinite;
}

@keyframes menu-glitch {
    0%, 93% {
        background-position: 0 0;
        filter: brightness(0.4);
    }

    94% {
        background-position: 0 12.5%;
        filter: brightness(0.7);
    }

    95% {
        background-position: 0 25%;
    }

    96% {
        background-position: 0 37.5%;
        filter: brightness(1.2);
    }

    97%, 100% {
        background-position: 0 0;
        filter: brightness(0.4);
    }
}


/* Добавь это в конец secret-menu.css */
#secret-jumpscare {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 9999;
    background: black url('/images/Random_Screens.png') no-repeat;
    background-size: 100% 600%;
}